:root {
    --primaryColor: #f09d51;
    --mainWhite: #fff;
    --mainblack: #222;
    --mainBackGround : #f5f5f5;
  }

.navBar {
    background: var(--mainblack);
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.navBar-center {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.nav-logo {
    width: 20px;
    display: flex;
    justify-content: flex-start;
}

.navBar .navBar-center .nav-logo img {
    width: 200px;
    height: 200px;
}

/* Navbar links */
.links a {
    float: left;
    text-align: center;
    padding: 12px;
    color: var(--mainWhite);
    text-decoration: none;
    font-size: 13px;
    font-weight: 100;
  }



